.hz-flex
  display: flex

.fdc
  flex-direction: column

.jcc
  justify-content: center

.aic
  align-items: center

.jcsb
  justify-content: space-between

.green
  color: #00e676

.ui-notification .message
  direction: rtl !important
